*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
}
.code-editor-container{
  background-color: rgb(28, 40, 109);
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
}
.code-editor{
  width: 350px;
  height: 350px;
  background-color: rgb(27, 67, 127);
  box-shadow: 2px 2px 10px black;
  border: 2px solid rgba(255, 255, 255, 0.272);
  border-radius: 20px;
  overflow: auto;
  position: relative;
}
.head-editor{
  width: 100%;
  height: 50px;
  background-color: rgb(27, 67, 127);
  box-shadow: 2px 4px 10px black;
  border-radius: 0px 0px 40px 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-head span{
  color: rgba(255, 255, 255, 0.708);
  font-size: 20px;
}
.left-head{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.right-head{
  transition: all 0.5s;
  cursor: pointer;
}
.right-head img:hover{
  scale: 120%;
}
.code-editor textarea{
  width: 100%;
  height: calc(100% - 80px);
  border: none;
  position: absolute;
  bottom: 0;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 20px;
  resize: none;
  font-size: 16px;
} 
.output-container{
  width: 100%;
  height: 30%;
  box-shadow: 2px -4px 10px black;
  z-index: 1;
  position: fixed;
  bottom: 0;
  color: rgba(255, 255, 255, 0.708);
  font-size: 20px;
  transition: all 0.5s;
}
.output-head{
  width: 100%;
  height: 60px;
  background-color: rgb(27, 67, 127);
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 15px;
  padding: 20px;
}
.output-head{
  transition: all 0.5s;
  cursor: pointer;
}
.output-head img:hover{
  scale: 120%;
}
#output{
  width: 100%;
  height: calc(100% - 60px);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  overflow: auto;
}
.output-full-active{
  height: 100%;
}
#full{
  transition: all 1s;
}
.html-input::selection{
  background-color: rgb(230, 132, 71);
}
.js-input::selection{
  background-color: rgb(230, 227, 71);
  color: black;
}